image: openjdk:9-jdk


workflow:
  rules:
    - if: $CI_MERGE_REQUEST_ID
      when: never
    - when: always

stages:
  - build
  - publish

before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle

cache:
  paths:
    - .gradle/wrapper
    - .gradle/caches

build:
  stage: build
  script:
    - ./gradlew fatJar
  artifacts:
    name: "burp-plugin"
    paths:
      - build/libs/*.jar
    expire_in: 1 week
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'  
      when: on_success


publish_files:
    stage: publish
    image: 'google/cloud-sdk:latest'
    before_script:
        - check_not_skipped(){ grep -v 'Skipping'; }
        - echo $DEPLOY_KEY_FILE_PRODUCTION > /tmp/$CI_PIPELINE_ID.json
        - gcloud auth activate-service-account --key-file /tmp/$CI_PIPELINE_ID.json
        - export PLUGIN_VERSION=$(grep -nr 'EXTENSION_VERSION =' * | cut -f2 -d= | tr -d \" | tr -d \; | tr -d '[:space:]')
    script:
        - ls build/libs/faraday-burp-v$PLUGIN_VERSION.jar
        - gsutil cp -R build/libs/faraday-burp-v$PLUGIN_VERSION.jar gs://faraday-community/faraday-burp-latest.jar
        - gsutil acl set public-read gs://faraday-community/faraday-burp-latest.jar

    dependencies:
        - build
    rules:
      - if: '$CI_COMMIT_BRANCH == "master"'  
        when: on_success
